*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px 22px;
}

.navigation {
  margin-left: auto;
}

.logo {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main {
  display: flex;
}
.center {
  display: flex;
  margin: 0 auto;
  gap: 100px;
}

.main-container {
  padding: 50px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voting {
  position: absolute;
  width: 320.09px;
  height: 43.35px;
  left: 90px;
  top: 166.71px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 33.3427px;
  line-height: 39px;
  display: flex;
  align-items: center;

  color: #6385DC;
}

.description {
  position: absolute;
  width: 320.09px;
  height: 43.35px;
  left: 99px;
  top: 200.06px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #6385DC;
}

.form-input {
  padding-left: 40px;
  width: 373.677px;
  height: 52px;
  display: block;
  width: 373.677px;
  height: 52px;
  flex-shrink: 0;
  padding-left: 42px;
  border-radius: 4px;
  cursor: text;
  border-radius: 13px;
  background: #f2f2f2;
  border: 0;
  margin-bottom: 24px;
}

.input-container {
  position: absolute;
  top: 66px;
  left: 1px;
}

.form-input {
  position: absolute;
  top: 270px;
  left: 90px;
  padding-left: 20px;
  width: 400px;
  height: 52px;
}

.submit {
  position: absolute;
  top: 410px;
  left: 90px;
  margin-bottom: 10px;
  width: 13%;
  height: 50px;
  background-color: #6385DC;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 13.3371px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

}


